*.o
*.lo
*.la
*.in
*.log
*.out
*.files
*.m4
src/cli/lwqq-cli
test/testlogin
test/testlwdb
test/testsendmsg
config.h
config.status
configure
libtool
stamp-h1
src/gui/lwqq
Makefile
m4/
autom4te.cache/
build-aux/
.deps/
.libs/
